---
import Layout from '../layouts/Layout.astro';
---

<Layout>
  <div class="inner">
    <div class="card card-center">
  <h1 role="heading" aria-level="1">会社概要</h1>
      <table class="form-table" role="presentation">
        <tbody>
          <tr><th>会社名</th><td>千葉工業設備株式会社</td></tr>
          <tr><th>事業内容</th><td>空調機の保守及び補修、補修作業、設置現場での保守点検作業</td></tr>
          <tr><th>設立</th><td>1968年</td></tr>
          <tr><th>資本金</th><td>1000万円</td></tr>
          <tr><th>代表者</th><td>代表取締役 太田哲司</td></tr>
          <tr><th>従業員数</th><td>11人</td></tr>
          <tr><th>事業所</th><td>千葉県千葉市中央区南町三丁目9番4号</td></tr>
          <tr><th>業種</th><td>不動産・建設・設備</td></tr>
        </tbody>
      </table>
      <h3 style="margin-top:12px">代表メッセージ</h3>
      <p>地域のお客様のために誠実に仕事を行います。まずはこのモックをご確認ください。</p>
    </div>
  </div>
</Layout>
